
@media screen and (max-width: 991px) {

}


.dialog-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    background-color: #fff;
    color: black;
    font-weight: 500;
    height: 80vh;
}

.dialog-box-innner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-shadow: 0px 0px 15px #231f20;
    background-color: #231f20;
    border: 2px solid #26e73a;
    color: #26e73a;
    border-radius: 999px;
    height: 50px;
    padding: 0 1rem;
    width: 200px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
}

.centering-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
