.wrapperDiv {
  background-color: #d0e9ff;
  border-radius: 20px;
  webkit-box-shadow: -1px 0px 20px 0px #231E20;
  -moz-box-shadow: -1px 0px 20px 0px #231E20;
  box-shadow: -1px 0px 20px 0px #231E20;
}

.wrapperDiv:hover {
    transform: scale(1.01);
}